@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div>---------------------------------------------</div>
<div>Aca pongo todo el diseño que yo quiera darle al footer personalizado</div>
<div>---------------------------------------------</div>