@using CapaNegocio

@model Cliente

@{ 

}


<div class="alert alert-info">
    <hr />
    Este es un mensaje de Bievenida para mis vistas de Clientes a modo vista Parcial
    <hr />
    <p>
        Hola Cliente: @Model.RazonSocial

    </p>
</div>
